fastapi
uvicorn
python-dotenv
pydantic
sqlmodel
passlib[bcrypt]
python-jose
python-multipart
jinja2
qdrant-client
sentence-transformers
fastembed
groq
googletrans==4.0.0-rc1
faster-whisper
gTTS
transformers
torch
torchaudio
tqdm
numpy
scikit-learn
protobuf